<!DOCTYPE html>
<html lang="en">

<body class="smoothscroll enable-animation">
		<section>
			<div class="container">

					<div class="col-lg-7 col-sm-7">
						<div class="heading-title">
							<h1>Intervention</h1>
						</div>

						<fieldset class="mt-60">
							<div class="row">
								<div class="col-md-6">
				                    <p>
                                        <div class="row  int-position">
                                            <%= form_with(model: @intervention, local: true) do |f| %>

                                        <div class="col-md-8">
                                            <p>Customer</p>
                                            <%= f.select(:customer_id, Customer.all.collect {|c| [c.full_name, c.id]},  {prompt: "Select"}, {class: 'form-control'}) %>
                                            <br>
                                        </div>

                                        <div id="building" class="col-md-8">
                                            <p>Building id</p>
                                            <%= f.select(:building_id, Building.all.collect {|t| [t.id, t.customer_id]}, {prompt: "Select"}, {class: 'form-control'}) %>
                                        </div>
                 
                                        <% end %>
                                        </div>
                                     
                                    </p>
                       
								</div>

							</div>

						</form>
						
					</div>
			</div>
		</section>
	</div>

</body>

</html>

<script>
$("#building").hide();

 // second dropdown is disable while first dropdown is empty

    $("#customer_id").change(function(){

   var customer = $(this).val();

  	if(customer == ''){
  		$("#building").hide();
  	}else{
  		 $("#building").show();
  	}

    console.log('customer', customer);

  	$.ajax({
	    url: "/interventions/getbuilding",
	    method: "GET",  
	    dataType: "json",
	    data: {customer: customer},
	    error: function (xhr, status, error) {
	      	console.error('AJAX Error: ' + status + error);
	    },

	    success: function (response) {
	      	console.log(response);
	      
	      	$("#building_id").empty();
 
	      	$("#building_id").append('<option>Select Task</option>');
	      	for(var i = 0; i < response.length; i++){
	      		$("#building_id").append('<option value="' + response[i]["id"] + '">' +response[i]["id"] + '</option>');
	      	}
	    }
  	});

});
</script>


