<!DOCTYPE html>
<html>
  <head>
    <title>Styled Map Types</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h2>Our business</h2>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Empire_State_Building-USA 421 East Blvd
  var empire_State_Building = {lat: 30.248993, lng: -87.679902};
  
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 10, center: empire_State_Building});
  // The marker, positioned at alabama-USA
  var marker = new google.maps.Marker({position: empire_State_Building, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKP8Ib9z7OyHmtv2WOe8FPCfiUfVlFvik&callback=initMap">
    </script>
  </body>
</html>
